/*                             
██╗   ██╗ █████╗ ██████╗ ██╗ █████╗ ██████╗ ██╗     ███████╗███████╗
██║   ██║██╔══██╗██╔══██╗██║██╔══██╗██╔══██╗██║     ██╔════╝██╔════╝
██║   ██║███████║██████╔╝██║███████║██████╔╝██║     █████╗  ███████╗
╚██╗ ██╔╝██╔══██║██╔══██╗██║██╔══██║██╔══██╗██║     ██╔══╝  ╚════██║
 ╚████╔╝ ██║  ██║██║  ██║██║██║  ██║██████╔╝███████╗███████╗███████║
  ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝╚══════╝                         
*/

:root {
    /* Colors */
    --blue: hsl(246, 80%, 60%);
    --light-red: hsl(15, 100%, 70%); /* work */
    --soft-blue: hsl(195, 74%, 62%); /* play */
    --bright-red: hsl(348, 100%, 68%); /* study */
    --lime-green: hsl(145, 58%, 55%); /* exercise */
    --violet: hsl(264, 64%, 52%); /* social */
    --soft-orange: hsl(43, 84%, 65%); /* self care */
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);

    /* Typography */
    --font: 'Rubik', sans-serif;
    --font-weight--light: 300;
    --font-weight--medium: 400;
    --font-weight--heavy: 500;

    /* Sizes: padding, gap, font-size, etc. */
    --font-size--small: 12px;
    --font-size--medium: 18px;
    --font-size--large: 24px;
    --font-size--xlarge: 32px;

    /* Layout */
    --small: 375px;
    --medium: 768px;
    --large: 1440px;
}


/*
 ██████╗ ██╗      ██████╗ ██████╗  █████╗ ██╗     
██╔════╝ ██║     ██╔═══██╗██╔══██╗██╔══██╗██║     
██║  ███╗██║     ██║   ██║██████╔╝███████║██║     
██║   ██║██║     ██║   ██║██╔══██╗██╔══██║██║     
╚██████╔╝███████╗╚██████╔╝██████╔╝██║  ██║███████╗
 ╚═════╝ ╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
*/

:root {
    /* Colors */
    background-color: var(--very-dark-blue);
    color: white;

    /* Typography */
    font-family: var(--font);
    font-size: var(--font-size--medium);
}

/*                                                                                           
 ██████╗ ██████╗ ███╗   ███╗██████╗  ██████╗ ███╗   ██╗███████╗███╗   ██╗████████╗███████╗
██╔════╝██╔═══██╗████╗ ████║██╔══██╗██╔═══██╗████╗  ██║██╔════╝████╗  ██║╚══██╔══╝██╔════╝
██║     ██║   ██║██╔████╔██║██████╔╝██║   ██║██╔██╗ ██║█████╗  ██╔██╗ ██║   ██║   ███████╗
██║     ██║   ██║██║╚██╔╝██║██╔═══╝ ██║   ██║██║╚██╗██║██╔══╝  ██║╚██╗██║   ██║   ╚════██║
╚██████╗╚██████╔╝██║ ╚═╝ ██║██║     ╚██████╔╝██║ ╚████║███████╗██║ ╚████║   ██║   ███████║
 ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝   
*/

/* // === Profile Card === // */
.box.box--aside {
    padding: 0;
}

.profile {
    background-color: var(--blue);
    border-radius: 1rem;
    display: flex;
    max-width: 100%;
    padding: 1.5rem;
}

.profile__image {
    border: 3px solid white;
    border-radius: 50%;
    margin-right: 1rem;
    height: 100%;
    width: 100%;
    /* are these needed */
    max-height: 20%;
    max-width: 20%;
}

.profile__description {
    font-size: var(--font-size--small);
    margin-bottom: 0;
}

.profile__title {
    font-size: var(--font-size--large);
    font-weight: var(--font-weight--medium);
    margin-top: .2rem;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
}

.cta.cta--time {
    background: none;
    border: none;
    color: var(--blue);
    font-size: var(--font-size--medium);
    margin: 1rem;
}

.cta.cta--time:hover {
    color: white;
}

.cta.cta--time:focus {
    border: 1px solid white;
    border-radius: .5rem;
}

@media only screen and (min-width: 768px) {
    .box.box--aside {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    /* .profile__image {
        margin-right: 0;
    } */
}

/* // === Category Cards === // */
.box {
    background-color: var(--dark-blue);
    border-radius: 1rem;
    margin: 1.5rem;
    /* padding: 1rem; */
}

.header {
    min-height: 2rem;
    width: 100%;
    border: 3px solid pink;
}

.header--work {
    background-color: var(--light-red);
    background-image: url(./media/icon-work.svg);
    background-size: contain;
    background-position: right 20px;
}

.header--play {
    background-color: var(--soft-blue);
}

.header--study {
    background-color: var(--bright-red);
}

.header--exercise {
    background-color: var(--lime-green);
}

.header--social {
    background-color: var(--violet);
}

.header--self-care {
    background-color: var(--soft-orange);
}

.header__icon {
    float: right;
    overflow: hidden;
}

/* .box:first-of-type {
    margin-top: 0;
} */

/* .box.box--aside {
    border: 5px solid green;
} */

@media only screen and (min-width: 768px) {
    .dashboard {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .box {
        margin: 0;
    }
}


/* // === Footer === // */


/*
██╗   ██╗████████╗██╗██╗     ██╗████████╗██╗███████╗███████╗
██║   ██║╚══██╔══╝██║██║     ██║╚══██╔══╝██║██╔════╝██╔════╝
██║   ██║   ██║   ██║██║     ██║   ██║   ██║█████╗  ███████╗
██║   ██║   ██║   ██║██║     ██║   ██║   ██║██╔══╝  ╚════██║
╚██████╔╝   ██║   ██║███████╗██║   ██║   ██║███████╗███████║
 ╚═════╝    ╚═╝   ╚═╝╚══════╝╚═╝   ╚═╝   ╚═╝╚══════╝╚══════╝                                 
*/

.utl-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px 0 0 -1px;
    position: absolute;
    overflow: hidden;
    padding: 0;
    width: 1px;
}

/* ASCII banners: https://manytools.org/hacker-tools/ascii-banner/ ANSI Shadow */